<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="accountService" class="com.tmn.account.service.impl.AccountHibernateImpl" />
    <bean id="usersService" class="com.tmn.account.service.impl.UserHibernateImpl" />
    <bean id="transactionHistoryService" class="com.tmn.account.service.impl.TransactionHistoryHibernateImpl" />
</beans>
